[formatter.alejandra]
command = "/nix/store/vvggmbd55bafmj0mxh3b6v9w1rlp3rqb-alejandra-4.0.0/bin/alejandra"
excludes = []
includes = ["*.nix"]
options = []

[global]
excludes = [
    "*.lock",
    "*.patch",
    "package-lock.json",
    "go.mod",
    "go.sum",
    ".gitattributes",
    ".gitignore",
    ".gitmodules",
    ".hgignore",
    ".svnignore",
    "LICENSE",
]
on-unmatched = "warn"
